In [14]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('ggplot')

from sklearn.datasets import load_boston

In [2]:
boston_dataset = load_boston()

In [5]:
feature_data = boston_dataset.data
target = boston_dataset.target
features_name = boston_dataset.feature_names

In [9]:
df_boston = pd.DataFrame(feature_data, columns=features_name)
df_boston.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [11]:
df_boston['target'] = target
df_boston.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [25]:
df_boston['reg'] = list(map(lambda i:'reg_{0}'.format(i+1), range(df_boston.shape[0])))
df_boston.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target,reg
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0,reg_1
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6,reg_2
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7,reg_3
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4,reg_4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2,reg_5

In [51]:
features_columns = set(df_boston.columns) - {'reg', 'target'}
columns_order = list(features_columns)
columns_order

['CRIM',
 'NOX',
 'B',
 'RM',
 'CHAS',
 'LSTAT',
 'DIS',
 'TAX',
 'PTRATIO',
 'ZN',
 'INDUS',
 'RAD',
 'AGE']

In [52]:
columns_order.insert(0, 'reg')
columns_order.insert(len(columns_order), 'target')
columns_order

['reg',
 'CRIM',
 'NOX',
 'B',
 'RM',
 'CHAS',
 'LSTAT',
 'DIS',
 'TAX',
 'PTRATIO',
 'ZN',
 'INDUS',
 'RAD',
 'AGE',
 'target']

In [56]:
df_boston = df_boston[columns_order]
df_boston.head()

,reg,CRIM,NOX,B,RM,CHAS,LSTAT,DIS,TAX,PTRATIO,ZN,INDUS,RAD,AGE,target
0,reg_1,0.00632,0.538,396.90,6.575,0.0,4.98,4.0900,296.0,15.3,18.0,2.31,1.0,65.2,24.0
1,reg_2,0.02731,0.469,396.90,6.421,0.0,9.14,4.9671,242.0,17.8,0.0,7.07,2.0,78.9,21.6
2,reg_3,0.02729,0.469,392.83,7.185,0.0,4.03,4.9671,242.0,17.8,0.0,7.07,2.0,61.1,34.7
3,reg_4,0.03237,0.458,394.63,6.998,0.0,2.94,6.0622,222.0,18.7,0.0,2.18,3.0,45.8,33.4
4,reg_5,0.06905,0.458,396.90,7.147,0.0,5.33,6.0622,222.0,18.7,0.0,2.18,3.0,54.2,36.2

In [63]:
df_boston.to_csv('boston_dataset.csv', sep=';', index=False)

In [64]:
ls -l

total 144
-rw-r--r--  1 tmorales  staff     72 Nov 16 14:53 Untitled.ipynb
-rw-r--r--  1 tmorales  staff  43114 Nov 16 14:54 boston_dataset.csv
-rw-r--r--  1 tmorales  staff  22346 Nov 16 14:52 create_dataset_for_testing_the_models.ipynb

Untitled.ipynb      boston_dataset.csv